
  .container {
    max-width: 670px;
    margin: 20px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
  }

  .menus {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
  }

  .menu {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  .awake {
    width: 640px;
    padding: 20px 30px;
    display:block;
    background-color: gray;
    box-shadow: 0 2px 6px #c1ced7;
  }

  .close {
    width: 640px;
    padding: 20px 30px;
    display:block;
    background-color: #FFFF99;
    box-shadow: 0 2px 6px #c1ced7;
  }
  .sleep {
    width: 640px;
    padding: 20px 30px;
    display:block;
    background-color: #FF8C00;
    box-shadow: 0 2px 6px #c1ced7;
  }


